<div style="position: absolute; bottom: 0px; background-color: rgb(49, 49, 49); width: 100%; height: 40px">
    <div style="position: relative; text-align: right; margin-top: 8px;">
        <a style="color:rgb(218, 216, 216); margin-right: 15px;" href="/viewURLs">View all users' shortURLs</a>
    </div>
</div>
