<div style="display: flex">
<div style="margin-right: 40px; font-weight: bold">
    TinyURL Generator
</div>
<div style="margin-right: 20px">
    <i><%= user_id %></i>
</div>
<div>
    <form method='POST' action="/logout">
        <input type="submit" value="Logout">
    </form>
</div>
</div>
