<div class='bar header-container'>
    <div class='display-in-line header-content'>
        <i>Username: <%= user_id %></i>
        <form method='POST' action="/logout">
            <input class='btn btn-danger btn-sm' type="submit" value="Logout"/>
        </form>
    </div>
</div>
    