<div style="display: flex">
<div style="margin-right: 40px">
    TinyURL Generator
</div>
<div style="margin-right: 20px">
    <%= user_id %>
</div>
<div>
    <form method='POST' action="/logout">
        <input type="submit" value="Logout">
    </form>
</div>
</div>
