<!DOCTYPE html>

<html lang="en">
<head> 
    <%- include ./partials/_header.ejs %>
</head>
<body>
    <%- include ./partials/_topbar.ejs %>
    <form action=<%= "/" + user_id + "/new"%> method="POST">
      <label>Enter a URL:</label>
      <input type="text" name="longURL" placeholder="http://" style="width: 300px">
      <input type="submit" value="Generate shortURL">
    </form>
    <%- include ./partials/_bottombar.ejs %>
</body>
</html>