<!DOCTYPE html>

<html lang="en">
<head>
    <%- include ./partials/_header.ejs %>
</head>
<body>
    <table style="width: 80%">
        <tr>
            <th>Long URL</th>
            <th>Short URL</th>
        </tr>
        <% for(let longURL in urls) { %>
            <tr>
                <td><%= longURL %></td>
                <td><%= urls[longURL] %>
                    <form method="POST" action=<%= "/" + user_id + "/urls/delete" %>
                        <input type="submit" value="Delete">
                    </form>
                </td>
            </tr>
            <% } %>
        </table>
</body>
</html>