<!DOCTYPE html>

<html lang="en">
<head> 
    <%- include ./partials/_header.ejs %>
</head>
<body>
    <% if (user_id) { %>
        <%- include ./partials/_topbar.ejs %>
    <% } %>
    <table style="width: 80%">
        <tr>
            <th style="width:40%">Short URL</th>
            <th style="width:40%">Long URL</th>
        </tr>
            <% for(let shortURL in urls) { %>
                <tr>
                    <td><%= shortURL %></td>
                    <td><%= urls[shortURL] %></td>
                </tr>
            <% } %>
    </table>
</body>
</html>